In [10]:
import pandas as pd 
df = pd.read_csv("19b_tree.csv")
df.head()

   age   hight  weight  gender likeness
0   27  170.69      78    male  biryani
1   41  123.00      68  female  biryani
2   29  135.00      98    male  biryani
3   27  147.00      55    male   samosa
4   29  128.00      66  female   samosa

In [11]:
df['gender'] = df['gender'].replace("male",1)
df['gender'] = df['gender'].replace("female",0)
df.head()

   age   hight  weight  gender likeness
0   27  170.69      78       1  biryani
1   41  123.00      68       0  biryani
2   29  135.00      98       1  biryani
3   27  147.00      55       1   samosa
4   29  128.00      66       0   samosa

In [12]:
X = df[['weight','gender']]
y = df['likeness']

In [13]:
X.head()

   weight  gender
0      78       1
1      68       0
2      98       1
3      55       1
4      66       0

In [14]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
# creat and fit modle
model= DecisionTreeClassifier().fit(X,y)
# prediction
model.predict([[25,1]])

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['biryani'], dtype=object)

In [15]:
# how to measure accuracy of a model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
predicted_values = model.predict(X_test)
predicted_values

array(['biryani', 'biryani', 'biryani', 'samosa', 'biryani'], dtype=object)

In [16]:
# checking score
score = accuracy_score(y_test,predicted_values)
score

0.6

In [17]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib
model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model,"19b_treey.joblib")

['19b_treey.joblib']

In [18]:
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)
tree.export_graphviz(model,
                     out_file="19b_treey.dot",
                     feature_names=["age","gender"],
                     class_names=sorted(y.unique()),
                     label="all",
                     rounded=True,
                     filled=True)